################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MD5Verifier/MD5Verifier/obj/x64/Release
/MD5Verifier/MD5Verifier/obj/x64/Debug
/.vs
/MD5Verifier/.vs/MD5Verifier/FileContentIndex
/MD5Verifier/MD5Verifier/bin/x64
/MD5Verifier/.vs/MD5Verifier/v17/.suo
/MD5Verifier/MD5Verifier/obj/Debug/net8.0-windows
/MD5Verifier/MD5Verifier/obj/Release/net8.0-windows
/MD5Verifier/MD5Verifier/obj
/MD5Verifier/MD5Verifier/bin/Release/net8.0-windows
/MD5Verifier/.vs
