<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CheckSumFileName" value="__MD5CheckSumList.md5log"/>
    <add key="LogFileName" value="__MD5Errors.md5log"/>
    <add key="IgnoredExtensions" value="md5log"/>
	<add key="IgnoredSystemFiles" value="desktop.ini"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
